# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/

# Build output
dist/
build/

# Environment files
.env
.env.local
.env.*.local
!.env.example

# Editor directories and files (apply to any OS/IDE)
.vscode/ # VS Code specific settings, if not shared
.idea/ # IntelliJ/WebStorm specific settings
.DS_Store # macOS directory metadata
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw? # Vim swap files

# TypeScript cache
*.tsbuildinfo

# Test and Coverage
coverage/